.loaded {
  .main-wrapper {
    display: none;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .6;
    background: $main-second-color;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.jq-selectbox {
  .jq-selectbox {
    &__select {
      height: 100%;
      padding: 10px 34px 10px 22px;
      border-radius: 0;
      font-family: $font-family-base;
      font-size: 16px;
      background: none;
      box-shadow: none;
      text-shadow: none;

      &-text {

      }
    }

    &__trigger {
      width: 45px;
      border: 0;

      &-arrow {
        position: absolute;
        top: 50%;
        right: auto;
        left: 50%;
        width: 12px;
        height: 12px;
        border: 2px solid #a1a1a1;
        border-left: 0;
        border-bottom: 0;
        transform: translate(-50%, -50%) rotate(45deg);
        transition: $transition-base;
      }
    }

    &__dropdown {
      background: #f0f0f0;
      border-top: 0;
      border-radius: 0;

      ul {

      }

      li {
        padding: 0 23px;
        color: #728fbf;
        font-size: 16px;
        line-height: 50px;

        &.sel {
        }

        &.selected {
          color: $main-second-color;
          background: white;
        }

        &:hover {
          color: $main-second-color;
          background: white;
        }
      }
    }
  }

  &.opened {
    .jq-selectbox__trigger-arrow {
      border-color: $main-first-color;
      transform: translate(-50%, -50%) rotate(135deg);
    }
  }
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-sbold {
  font-weight: 600 !important;
}

.btn {
  position: relative;
  overflow: hidden;
  z-index: 0;

  &-primary {
    &:before, &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      bottom: 100%;
      left: 0;
      background: #e6b300;
      z-index: -1;
      transition: $transition-base;
    }

    &:after {
      background: #dead00;
    }

    &:hover {
      background: $primary;

      &:after {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
      }

      &:before, &:after {
        transform: translateY(100%);
      }
    }
  }

  &.btn-custom {
    padding: 12px 30px;
  }
}

.breadcrumb {
  &-item {
    font-size: 14px;

    &.active {
      color: #418dcb;
    }

    a {
      color: #a7a7a7;
    }

    & + .breadcrumb-item {
      padding-left: .25rem;

      &:before {
        padding-right: .25rem;
      }
    }
  }
}

@mixin button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
  color: color-yiq($background);
  @include gradient-bg($background);
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  &:before {
    background: $active-background;
  }

  &:after {
    background: $hover-background;
  }

  @include hover {
    color: color-yiq($hover-background);
    @include gradient-bg($hover-background);
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
    } @else {
      box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: color-yiq($background);
    background-color: $background;
    border-color: $border;
    // Remove CSS gradients if they're enabled
    @if $enable-gradients {
      background-image: none;
    }
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    @if $enable-gradients {
      background-image: none; // Remove the gradient for the pressed/active state
    }
    border-color: $active-border;

    &:focus {
      // Avoid using mixin so we can pass custom focus shadow properly
      @if $enable-shadows and $btn-active-box-shadow != none {
        box-shadow: $btn-active-box-shadow, 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
      } @else {
        box-shadow: 0 0 0 $btn-focus-width rgba(mix(color-yiq($background), $border, 15%), .5);
      }
    }
  }
}