// main colors
$main-first-color: #f3bd00;
$main-second-color: #232766;
$main-third-color: blue;

// colors
$title-color: #111;
$text-color: #000;
$input-placeholder-color: #aaa;

// fonts
$font-family-base: 'Ubuntu', sans-serif;
$font-family-custom: 'Georgia', serif;
//$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 16px;
$line-height-base: 1.25;

// behavior
$transition-base: all .3s ease 0s;

//Bootstrap var
$primary: $main-first-color;
$secondary: $main-second-color;

$link-hover-color: $main-second-color;

$container-max-widths: (
  xl: 1200px
);

$enable-shadows: true;
$body-color: $text-color;