/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  min-width: 320px;
  width: 100%;
}

.swiper-wrapper {
  img[data-src] {
    opacity: 1;
  }
}

.title {
  display: block;
  max-width: 800px;
  width: max-content;
  margin: 0 auto 0;
  color: #120706;
  font-family: $font-family-custom;
  font-size: 65px;
  line-height: 55px;

  &__sup-text {
    &:before {
      content: '';
      display: inline-block;
      width: 25px;
      height: 3px;
      margin: -5px 19px 0 0;
      vertical-align: middle;
      background: #e8b607;
    }

    display: block;
    color: #9b9b9b;
    font-family: $font-family-base;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
  }
}

// MAIN SECTION
.main-section {
  .container {
    padding: 255px 0 133px;
  }

  .title {
    margin: 0;
    font-size: 85px;
    line-height: 52px;
    letter-spacing: 2.4px;

    &__sup-text {
      &:before {
        content: '';
        display: inline-block;
        width: 35px;
        height: 2px;
        margin-right: 13px;
        vertical-align: middle;
        background: #418dcb;
      }

      display: block;
      color: #d1d1d1;
      font-family: $font-family-base;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      letter-spacing: 2.4px;
    }
  }

  &_apartment {
    padding-bottom: 50px;

    .title {
      font-size: 70px;
      line-height: 64px;
    }
  }

  .slide-content {
    &__text-description {
      max-width: 255px;
    }

    &__button {
      padding: 12px 30px;
      margin-right: 85px;
    }
  }
}

.main-slider {
  max-height: 690px;
  overflow: hidden;

  .swiper-wrapper {
  }

  .swiper-controls {
    position: absolute;
    top: 60%;
    left: 35.7%;
    display: inline-block;
    width: 80px;
    height: 17px;
    z-index: 1;
    transform: translate(-50%, -50%) rotate(-90deg);
  }

  .swiper-pagination {
    top: -2px;
    bottom: auto;
    color: white;
    text-align: center;
    z-index: 3;
  }

  .swiper-arrows {
    top: 0;
    left: auto;
    right: auto;
    width: 17px;
    height: 17px;
    margin: 0;
    background: none;

    svg {
      width: 17px;
      height: 17px;
      fill: white;
      vertical-align: top;
    }
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
    text-align: right;
  }
}

.main-section-content {
  position: absolute;
  top: 61%;
  right: 19.3%;
  transform: translateY(-50%);
  z-index: 1;
}

.main-section-content-nav {
  counter-reset: nav;

  &__link {
    position: relative;
    display: block;
    min-width: 51px;
    width: 51px;
    //max-width: 51px;
    height: 51px;
    border: 2px solid;
    border-radius: 50px;
    margin-left: auto;
    overflow: hidden;
    font-family: $font-family-custom;
    font-size: 20px;
    line-height: 12px;
    text-decoration: none !important;
    white-space: nowrap;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.8);
    transition: $transition-base;
    transition-delay: .2s;

    &:before {
      counter-increment: nav;
      content: counter(nav);
      display: inline-block;
      width: 51px;
      height: 51px;
      border: 2px solid $main-first-color;
      border-radius: 50px;
      margin: -2px 0 0 -2px;
      vertical-align: middle;
      font-size: 20px;
      line-height: 42px;
      text-align: center;
      transition: $transition-base;
    }

    &:not(:last-child) {
      margin-bottom: 22px;
    }

    &:hover {
      background: rgba(255, 255, 255, .2);

      &:before {
        background: $main-first-color;
      }

      .main-section-content-nav__text {
        opacity: 1;
        visibility: visible;
      }
    }

    svg {
      width: 16px;
      height: 16px;
      margin-left: 16px;
      fill: white;
    }
  }

  &__text {
    display: inline-block;
    margin: 0 15px 0 10px;
    opacity: 0;
    visibility: hidden;
    letter-spacing: -1.2px;
    transition: $transition-base;
    transition-delay: .4s;
  }
}

// ADVANTAGE SECTION
.advantage-section {
  padding: 115px 0 85px;
}

.advantage {
  padding: 146px 0 0;

  &__box {
    &:not(:nth-last-child(-1n+3)) {
      margin-bottom: 57px;
    }
  }

  &__ico {
    &:before {
      content: '';
      width: 54px;
      height: 54px;
      border-radius: 100%;
      position: absolute;
      bottom: 10px;
      left: 0;
      z-index: -1;
      background: #fff2c3;
    }

    svg {
      display: block;
      width: 45px;
      height: 45px;
      fill: $main-second-color;
    }
  }

  &__caption {
    font-family: $font-family-custom;
    font-size: 20px;
  }

  &__text {
    width: 70%;
    color: #6a6a6a;
    letter-spacing: 0.8px;
  }
}

// APARTMENTS SECTION
.apartments-section {
  padding: 95px 0 110px;
  background: #f5f5f5;
}

.apartment-includes {
  display: grid !important;
  grid-template-columns: repeat(2, minmax(50%, 100%));
  grid-gap: 20px 55px;

  &__box {

  }

  &__ico {
    position: relative;
    display: inline-block;

    &:before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      background: #fff2c3;
    }

    svg {
      position: relative;
      width: 19px;
      height: 19px;
      fill: $main-second-color;
    }
  }

  &__text {
    padding-left: 20px;
    font-weight: $font-weight-medium;
  }
}

.best-apartment {
  counter-reset: items;
  padding: 135px 0 0;

  &__box {
    position: relative;
    min-height: 400px;

    &:not(:last-child) {
      margin-bottom: 75px;
    }

    &:nth-child(odd) {
      .best-apartment {
        &__image {
          left: 8px;
          right: auto;
        }

        &__description {
          margin-left: auto;
        }
      }
    }

    &:nth-child(even) {
      .best-apartment {
        &__image {
          right: 8px;
          left: auto;
        }

        &__description {

        }
      }

      &__description {
        margin-right: auto;
      }
    }
  }

  &__image {
    display: block;
    width: 600px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__description {
    position: relative;
    max-width: 485px;
    min-height: 350px;
    padding: 42px 100px 50px;
    //margin-left: auto;
    background: white;
  }

  &__title {
    position: relative;
    color: #120706;
    font-family: $font-family-custom;
    font-size: 24px;

    &:before {
      counter-increment: items;
      content: counter(items);
      position: absolute;
      top: 0;
      left: -45px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: white;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      background: $main-first-color;
    }
  }

  &__text {
    color: #9b9b9b;
    font-weight: 300;
    font-size: 14px;
  }

  &__link {
    color: #727272;
    text-decoration: underline;
  }
}

// ATTRACTIONS SECTION
.attractions-section {
  padding: 95px 0 70px;

  .section-bg {
    &:after {
      opacity: .9;
    }
  }

  .title {
    &__sup-text {
      color: #e6e6e6;

      &:before {
        margin-right: 8px;
      }
    }
  }
}

.attractions {
  padding: 112px 0 0 0;

  &__card {
    max-width: 370px;

    .card-title {
      color: #120706;
      font-family: $font-family-custom;
      font-size: 20px;
    }

    .card-text {
      color: #727272;
    }
  }

  &__more {
    color: #727272;
    text-decoration: underline;
  }

  .swiper-slide {
    width: 32%;
  }

  .swiper-controls {

  }

  .swiper-arrows {
    display: inline-block;
    background: none;
    position: static;

    &.swiper-button-prev {

    }

    &.swiper-button-next {

    }

    svg {
      width: 21px;
      height: 21px;
      fill: white;
    }
  }

  .swiper-pagination {
    display: inline-block;
    position: static;

    &-bullet {
      width: 12px;
      height: 12px;
      margin-right: 10px;
      opacity: 1;
      background: none;
      box-shadow: inset 0 0 0 2px white;
      transition: $transition-base;

      &-active {
        box-shadow: inset 0 0 0 10px white;
      }
    }
  }
}

// INSTAGRAM SECTION
.instagram-section {
  padding: 115px 0 100px;
}

.instagram-slider {
  padding: 0 20px;
  margin: 110px 0 0;

  &:before, &:after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 20px;
    height: 100%;
    background: white;
    z-index: 5;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }

  &__img {
    display: block;
    width: 270px;
    height: 270px;
  }

  .swiper-arrows {
    height: auto;
    background: none;

    &.swiper-button-prev {
      left: 0;
    }

    &.swiper-button-next {
      right: 0;
      text-align: right;
    }

    svg {
      width: 21px;
      height: 21px;
      fill: #a1a1a1;
    }
  }
}

.instagram-link {
  width: max-content;
  padding: 10px 40px;
  margin-top: 75px !important;
  font-size: 16px;
}

// RESERVE SECTION
.reserve-section {
  padding: 117px 0 98px;

  .section-bg {
    &:after {
      opacity: .9;
    }
  }
}

.reserve {
  margin: 105px 0 0;

  &__submit {
    padding: 13px 30px;
    font-size: 16px;
    line-height: 1;
  }
}

.reserve-form-content {
  &__field-ico {
    position: absolute;
    top: 55%;
    right: 20px;
    z-index: 1;

    &:before {
      content: '';
      width: 21px;
      height: 21px;
      border-radius: 100%;
      position: absolute;
      bottom: 1px;
      left: -5px;
      z-index: -1;
      background: #fff2c3;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: $main-second-color;
    }
  }

  label {
    margin: 0 0 10px;
    color: #9090ad;
    font-weight: 300;
    font-size: 14px;
  }

  .form-control-lg {
    display: block;
    width: 100%;
    height: 50px;
    font-size: 16px;
    letter-spacing: 0.8px;
    background: #f0f0f0;

    &.jq-selectbox {
      .jq-selectbox {
        &__select {
          height: 100%;
          padding: 10px 34px 10px 22px;
          border-radius: 0;
          font-family: $font-family-base;
          font-size: 16px;
          background: none;
          box-shadow: none;
          text-shadow: none;

          &-text {

          }
        }

        &__trigger {
          width: 45px;
          border: 0;

          &-arrow {
            position: absolute;
            top: 50%;
            right: auto;
            left: 50%;
            width: 12px;
            height: 12px;
            border: 2px solid #a1a1a1;
            border-left: 0;
            border-bottom: 0;
            transform: translate(-50%, -50%) rotate(45deg);
            transition: $transition-base;
          }
        }

        &__dropdown {
          background: #f0f0f0;
          border-top: 0;
          border-radius: 0;

          ul {

          }

          li {
            padding: 0 23px;
            color: #728fbf;
            font-size: 16px;
            line-height: 50px;

            &.sel {
            }

            &.selected {
              color: $main-second-color;
              background: white;
            }

            &:hover {
              color: $main-second-color;
              background: white;
            }
          }
        }
      }

      &.opened {
        .jq-selectbox__trigger-arrow {
          border-color: $main-first-color;
          transform: translate(-50%, -50%) rotate(135deg);
        }
      }
    }
  }
}

.daterangepicker {
  .drp-calendar {
    max-width: none;

    &.left {
      padding: 31px 47px;
    }
  }

  .calendar-table {
    td {
      min-width: 38px;
      height: 38px;
      font-family: $font-family-base;
      font-weight: $font-weight-medium;
      font-size: 14px;

      &.start-date {
        border-radius: 50px 0 0 50px !important;
      }

      &.end-date {
        border-radius: 0 50px 50px 0 !important;
      }

      &.start-date.end-date {
        border-radius: 50px !important;
      }

      &.in-range {
        color: #9b9b9b;
        background: #fff2c3;
      }

      &.active {
        color: $main-second-color;
        background: $main-first-color;
      }
    }
  }
}

// LAST SECTION
.last-section {
  padding: 135px 0 75px;
}

.last-section-content {
  &__text {
    color: #727272;
  }
}

// 3D TOUR SECTION
.tour3d-section {
  padding: 90px 0 120px;
  background: #f5f5f5;
}

.tour3d-content {
  margin-bottom: 40px;
}

.scroll-ico {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

  &:before {
    content: '';
    position: absolute;
    top: -25px;
    left: 50%;
    width: 2px;
    height: 15px;
    background: white;
    transform: translateX(-50%);
  }

  svg {
    width: 44px;
    height: 44px;
    fill: white;
  }
}

.tour3d-description {
  box-shadow: 3px 4px 24px rgba(0, 0, 0, 0.15);

  &__text {
    color: #727272;
    line-height: 1.2;

    &-wrap {
      padding: 40px;
    }
  }
}

.season-prices {
  &__box {

  }

  &__date {
    min-height: 92px;
    padding: 30px 35px 20px;
    margin: 0;
    color: #383838;
    text-align: center;

    svg {
      position: relative;
      width: 22px;
      height: 20px;
      margin-right: 10px;
      z-index: 1;
    }
  }

  &__date-ico {
    position: relative;

    &:before {
      @extend .apartment-includes__ico:before;
      right: auto;
      left: -6px;
    }
  }

  &__price {
    padding: 28px 10px;
    margin: 0;
    text-align: center;
  }
}

// SIMPLE RESERVED SECTION
.simple-reserved-section {
  padding: 448px 0;
}

// PHOTO ROOM SECTION
.photo-room-section {
  padding: 95px 0 115px;
}

.photo-room {
  margin-top: 112px;

  &__box {
    &:not(:nth-last-child(-1n+5)) {
      margin-bottom: 30px;
    }
  }

  &__img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    object-position: center;
  }
}

// LAST REVIEWS SECTION
.last-reviews-section {
  padding: 99px 0 0;
}

.reviews {
  margin: 95px auto 0;

  &__item {
    &:not(:last-child) {
      margin-bottom: 56px;
    }

    &-head {

    }

    &-body {

    }
  }

  &__title {
    font-family: $font-family-custom;
  }

  &__info {
    &-date {
      color: #6e6e6e;
    }

    &-link {

    }
  }

  &__text {
    color: #979797;
  }

  &__answer {
    color: #6e6e6e;
  }
}

.media {
  .media {
    padding-left: 43px;
    margin-top: 27px;
  }
}

.media-head {
  width: 100%;
  flex: 1;
}

.reviews-rating {

}

// PAGES NAV SECTION
.pages-nav-section {

}

// WAYS SECTION
.ways-section {
  padding: 115px 0 105px;
  background: #f5f5f5;
}

.ways {
  padding-top: 85px;

  &__box {
    box-shadow: 3px 4px 20px rgba(0, 0, 0, 0.15);
  }

  &__icon {
    position: relative;

    &:before {
      @extend .advantage__ico:before;
      z-index: 0;
    }

    svg {
      position: relative;
      z-index: 1;
      width: 44px;
      height: 36px;
    }
  }

  &__title {
    font-family: $font-family-custom;
  }

  &__text {
    color: #6a6a6a;
  }

  &__link {
    color: #418dcb;
  }
}

// MAP SECTION
.map-section {
  #map {
    height: 500px;

    &:after {
      display: none;
    }
  }
}

// CONTACTS SECTION
.contacts-section {
  padding: 80px 0 99px;
}

.contacts {
  &__title {
    position: relative;
    padding: 0 0 11px;
    margin: 0;
    font-family: $font-family-custom;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 25px;
      height: 3px;
      background: $main-first-color;
    }
  }
}

.contact-icons-list {
  &__item {

  }

  &__icon {
    position: absolute;
    top: 0;
    left: -37px;

    &:after {
      @extend .apartment-includes__ico:before;
      right: 8px;
    }

    svg {
      position: relative;
      width: 20px;
      height: 20px;
      fill: $main-second-color;
      z-index: 1;
    }
  }

  &__text {
    & + .contact-icons-list__text:before {
      content: ' / '
    }
  }
}

.contacts-form {
  label {
    color: #919191;
    font-weight: 300;
    font-size: 14px;
  }

  &__field {
    height: 45px;
    background: #f0f0f0;

    &:focus, &.focus {
      background: #f0f0f0;
    }
  }

  textarea {
    position: relative;
    display: block;
    min-height: 200px;
    height: 208px;
  }
}