/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
}

#map {
  width: 100%;
  height: 320px;
}

.copyright {}