/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: relative;
  min-width: 320px;
  width: 100%;
  z-index: 1001;
  transition: $transition-base;
}

.header-top {
  &__contacts {
    &-item {
      color: #728fbf;

      &:before {
        content: '';
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 10px;
        margin-right: 6px;
        vertical-align: middle;
        background: #418dcb;
      }
    }

    &-text {
      display: inline-block;
      color: inherit;
      font-size: 12px;

      &:not(:first-child):before {
        content: '/';
        display: inline-block;
        margin: 0 3px 0 0;
      }
    }
  }
}

.social-list {
  &__link {
    display: inline-block;

    svg {
      display: block;
      width: 23px;
      height: 16px;
      fill: #afc1e0;

      &.tripadvisor {
        height: 25px;
        fill: $main-first-color;
      }
    }
  }
}

.header-content {
  padding: 31px 0 0;

  &__burger-btn {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 5px 15px 0 0;
    outline: none !important;
    vertical-align: top;
    transition: $transition-base;

    span {
      position: absolute;
      display: block;
      width: 30px;
      height: 2px;
      margin: 0 0 5px;
      background: #afc1e0;
      transform: translate(0, -50%);
      transition: $transition-base;

      &:first-child {
        top: 20%
      }

      &:nth-child(2) {
        top: 50%
      }

      &:last-child {
        top: 80%;
        margin: 0
      }
    }

    &.active {
      span {
        &:first-child {
          top: 50%;
          transform: translate(0, -50%) rotate(-150grad)
        }

        &:nth-child(2) {
          filter: blur(10px);
          opacity: 0;
          visibility: hidden
        }

        &:last-child {
          top: 50%;
          transform: translate(0, -50%) rotate(150grad)
        }
      }
    }
  }

  &__dropdown {}

  .dropdown {
    &.show {
      .dropdown-toggle {
        svg {
          fill: $main-first-color;
          opacity: 1;
          transform: rotate3d(1, 0, 0, 180deg);
        }
      }
    }

    &-toggle {
      &:after {
        display: none;
      }

      svg {
        width: 15px;
        height: 15px;
        margin-left: 9px;
        fill: white;
        opacity: .5;
        transition: $transition-base;
      }
    }

    &-menu {
      padding: 10px 25px 10px 35px;
      margin: 9px 0 0;
      border-radius: 15px;
    }

    &-item {
      position: relative;
      padding: 10px 0;
      color: #728fbf;
      font-weight: $font-weight-light;
      line-height: 22px;

      &:not(:last-child) {
        border-bottom: 1px solid rgba(65, 141, 203, 0.2);
      }

      &:before {
        content: '';
        position: absolute;
        top: 20px;
        left: -17px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #82b3db;
        transition: $transition-base;
      }

      &:hover {
        color: $main-second-color;
        background: transparent;

        &:before {
          background: $main-first-color;
        }
      }
    }
  }
}

.logo {
  display: inline-block;

  &__img {
    display: block;
    width: 148px;
  }
}

.header-navigation {
  display: inline-block;

  &__link {
    &:before {
      content: '';
      width: 0;
      height: 3px;
      position: absolute;
      bottom: -10px;
      left: 0;
      background: $main-first-color;
      transition: all .3s ease 0s;
    }

    position: relative;

    &:hover {
      text-decoration: none;

      &:before {
        content: '';
        width: 25px;
      }
    }
  }
}