<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>404</title>
</head>
<body class="loaded">

<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header position-absolute">
        <div class="header-top py-1 bg-white">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-8 col-md-10">
                        <ul class="header-top__contacts p-0 m-0">
                            <li class="header-top__contacts-item d-none d-md-inline-block mr-3">
                                <span class="header-top__contacts-text">г. Железный порт, ул. Набережная, 1</span>
                            </li>
                            <li class="header-top__contacts-item d-inline-block">
                                <a href="tel:+380500000000" class="header-top__contacts-text">+38 (050) 000 00 00</a>
                                <a href="tel:+380500000000" class="header-top__contacts-text">+38 (050) 000 00 00</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-4 col-md-2 d-inline-flex align-items-center justify-content-end">
                        <nav class="social-list d-flex align-items-center text-right">
                            <a href="#social-booking" class="social-list__link mx-1" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-booking"></use>
                                </svg>
                            </a>
                            <a href="#social-instagram" class="social-list__link mx-1" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-instagram"></use>
                                </svg>
                            </a>
                            <a href="#social-tripadvisor" class="social-list__link mx-1" target="_blank">
                                <svg class="tripadvisor">
                                    <use xlink:href="img/spritemap.svg#sprite-tripadvisor"></use>
                                </svg>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-content py-4 py-md-3 bg-secondary">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-2">
                        <button class="header-content__burger-btn d-md-none border-0 bg-transparent">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>

                        <a href="index.html" class="logo">
                            <picture>
                                <img src="<%= require('./img/placeholder.png') %>" data-src="<%= require('./img/logo.svg') %>" class="logo__img" alt="logo" title="logo">
                            </picture>
                        </a>
                    </div>

                    <div class="col-md-6 d-none d-md-inline-flex align-items-center justify-content-end pb-2">
                        <div class="header-content__dropdown dropdown d-inline-block mr-5">
                            <a class="dropdown-toggle btn btn-transparent text-white p-0 shadow-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                апартаменты
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-arrow_down"></use>
                                </svg>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">апартаменты 1</a>
                                <a class="dropdown-item" href="#">апартаменты 2</a>
                                <a class="dropdown-item" href="#">апартаменты 3</a>
                                <a class="dropdown-item" href="#">апартаменты 4</a>
                            </div>
                        </div>

                        <nav class="header-navigation">
                            <a href="contacts.html" class="header-navigation__link text-white">как к нам добраться</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- MOBILE MENU -->
    <div class="mobile-menu d-flex flex-column justify-content-center">
        <div class="mobile-menu__background">
            <img src="<%= require('./img/main-slide-img01.jpg') %>" class="mobile-menu__background-img" alt="" title="">
        </div>

        <ul class="mobile-menu__list">
            <li class="mobile-menu__list-item">
                <a href="#01" class="mobile-menu__list-link">Апартаменты 1</a>
            </li>

            <li class="mobile-menu__list-item">
                <a href="#02" class="mobile-menu__list-link">Апартаменты 2</a>
            </li>

            <li class="mobile-menu__list-item">
                <a href="#03" class="mobile-menu__list-link">Апартаменты 3</a>
            </li>

            <li class="mobile-menu__list-item">
                <a href="#04" class="mobile-menu__list-link">Апартаменты 4</a>
            </li>

            <li class="mobile-menu__list-item">
                <a href="#05" class="mobile-menu__list-link">Как к нам добраться</a>
            </li>
        </ul>
    </div>
    <!-- MOBILE MENU END -->

    <!-- CONTENT -->
    <main class="content">

        <div class="section section-404">
            <div class="section-bg">
                <picture>
                    <source srcset="<%= require('./img/bg_404.webp') %>" type="image/webp">
                    <img data-src="<%= require('./img/bg_404.jpg') %>" src="<%= require('./img/placeholder.png') %>" class="section-bg__img" alt="background-image"
                         title="">
                </picture>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="block-404 d-flex flex-column">
                            <p class="block-404__title mb-4 mb-md-0">4<img data-src="<%= require('./img/zero_404.png') %>" src="<%= require('./img/placeholder.png') %>" class="block-404__img" alt="404_0" title="">4</p>

                            <p class="pt-3 pt-md-0 mt-n5 mb-4 text-center">Страница не найдена</p>

                            <a href="index.html" class="block-404__link position-relative btn btn-primary rounded-pill mt-3 mx-auto text-white font-weight-bold shadow-none">На главную</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div id="map"></div>
            </div>
        </div>

        <div class="footer-content bg-secondary pt-md-3 pb-md-1">
            <div class="container pt-4 pb-5 py-md-1">
                <div class="row mb-3">
                    <div class="col-12 col-md-3 col-lg-2 text-center text-md-left">
                        <a href="index.html" class="logo my-2 mt-md-0">
                            <picture>
                                <img src="img/logo.svg" class="logo__img" alt="logo" title="logo">
                            </picture>
                        </a>

                        <nav class="social-list d-flex align-items-center justify-content-center justify-content-md-start">
                            <a href="#social-booking" class="social-list__link" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-booking"></use>
                                </svg>
                            </a>
                            <a href="#social-instagram" class="social-list__link mx-1" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-instagram"></use>
                                </svg>
                            </a>
                            <a href="#social-tripadvisor" class="social-list__link mx-1" target="_blank">
                                <svg class="tripadvisor">
                                    <use xlink:href="img/spritemap.svg#sprite-tripadvisor"></use>
                                </svg>
                            </a>
                        </nav>
                    </div>

                    <div class="col-12 col-md-3 col-lg-2 offset-lg-2">
                        <ul class="footer-content__list pt-5 px-0 pt-md-3 pl-md-3 m-0 text-center text-md-left">
                            <li class="footer-content__list-item"><a href="#0" class="footer-content__li-text">Апартаменты 1</a></li>
                            <li class="footer-content__list-item"><a href="#0" class="footer-content__li-text">Апартаменты 2</a></li>
                            <li class="footer-content__list-item"><a href="#0" class="footer-content__li-text">Апартаменты 3</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-3 col-lg-2">
                        <ul class="footer-content__list pt-2 px-0 mt-1 mb-0 pt-md-3 pl-md-3 m-md-0 text-center text-md-left">
                            <li class="footer-content__list-item"><a href="#0" class="footer-content__li-text">Апартаменты 4</a></li>
                            <li class="footer-content__list-item"><a href="contacts.html" class="footer-content__li-text">Как к нам добраться</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-3 col-lg-4 d-flex justify-content-md-end">
                        <ul class="footer-content__list pt-2 px-0 mt-1 mx-auto mb-0 text-center pt-md-3 m-md-0 ml-md-auto text-md-left">
                            <li class="footer-content__list-item"><span class="footer-content__li-text">г. Железный порт, ул. Набережная, 1</span></li>
                            <li class="footer-content__list-item"><a href="tel:+380500000000" class="footer-content__li-text">+38 (050) 000 00 00</a><a href="tel:+380500000000"
                                                                                                                                                        class="footer-content__li-text">+38
                                (050) 000 00 00</a></li>
                            <li class="footer-content__list-item"><a href="mailto:apartments@gmail.com" class="footer-content__li-text">apartments@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright bg-white py-md-2">
            <div class="container py-3 p-md-0 pt-md-1">
                <div class="row text-center text-md-left">
                    <div class="col-md-8 mb-2">
                        <p class="footer-copyright__text">2019. Все права защищены.</p>
                    </div>

                    <div class="col-md-4">
                        <p class="footer-copyright__text text-md-right">Разработка и продвижение сайтов
                            <a href="https://bonum-studio.com" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-bonum"></use>
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="icon-load"></div>
<!-- BODY END   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>
</html>
