<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Страница номера</title>
</head>
<body class="loaded">

<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header position-absolute">
        <div class="header-top py-1 bg-white">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-8 col-md-10">
                        <ul class="header-top__contacts p-0 m-0">
                            <li class="header-top__contacts-item d-none d-md-inline-block mr-3">
                                <span class="header-top__contacts-text">г. Железный порт, ул. Набережная, 1</span>
                            </li>
                            <li class="header-top__contacts-item d-inline-block">
                                <a href="tel:+380500000000" class="header-top__contacts-text">+38 (050) 000 00 00</a>
                                <a href="tel:+380500000000" class="header-top__contacts-text">+38 (050) 000 00 00</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-4 col-md-2 d-inline-flex align-items-center justify-content-end">
                        <nav class="social-list d-flex align-items-center text-right">
                            <a href="#social-booking" class="social-list__link mx-1" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-booking"></use>
                                </svg>
                            </a>
                            <a href="#social-instagram" class="social-list__link mx-1" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-instagram"></use>
                                </svg>
                            </a>
                            <a href="#social-tripadvisor" class="social-list__link mx-1" target="_blank">
                                <svg class="tripadvisor">
                                    <use xlink:href="img/spritemap.svg#sprite-tripadvisor"></use>
                                </svg>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-content py-4 py-md-3">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-2">
                        <button class="header-content__burger-btn d-md-none border-0 bg-transparent">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <a href="index.html" class="logo">
                            <picture>
                                <img src="<%= require('./img/placeholder.png') %>" data-src="<%= require('./img/logo.svg') %>" class="logo__img" alt="logo" title="logo">
                            </picture>
                        </a>
                    </div>

                    <div class="col-md-6 d-none d-md-inline-flex align-items-center justify-content-end pb-2">
                        <div class="header-content__dropdown dropdown d-inline-block mr-5">
                            <a class="dropdown-toggle btn btn-transparent text-white p-0 shadow-none" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                апартаменты
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-arrow_down"></use>
                                </svg>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">апартаменты 1</a>
                                <a class="dropdown-item" href="#">апартаменты 2</a>
                                <a class="dropdown-item" href="#">апартаменты 3</a>
                                <a class="dropdown-item" href="#">апартаменты 4</a>
                            </div>
                        </div>

                        <nav class="header-navigation">
                            <a href="contacts.html" class="header-navigation__link text-white">как к нам добраться</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- MOBILE MENU -->
    <div class="mobile-menu d-flex flex-column justify-content-center">
        <div class="mobile-menu__background">
            <img src="<%= require('./img/main-slide-img01.jpg') %>" class="mobile-menu__background-img" alt="mobile-menu-bg" title="">
        </div>

        <ul class="mobile-menu__list">
            <li class="mobile-menu__list-item">
                <a href="#01" class="mobile-menu__list-link">Апартаменты 1</a>
            </li>

            <li class="mobile-menu__list-item">
                <a href="#02" class="mobile-menu__list-link">Апартаменты 2</a>
            </li>

            <li class="mobile-menu__list-item">
                <a href="#03" class="mobile-menu__list-link">Апартаменты 3</a>
            </li>

            <li class="mobile-menu__list-item">
                <a href="#04" class="mobile-menu__list-link">Апартаменты 4</a>
            </li>

            <li class="mobile-menu__list-item">
                <a href="#05" class="mobile-menu__list-link">Как к нам добраться</a>
            </li>
        </ul>
    </div>
    <!-- MOBILE MENU END -->

    <!-- CONTENT -->
    <main class="content">

        <div class="section main-section main-section_apartment">
            <div class="main-content">
                <div class="section-bg">
                    <picture>
                        <source srcset="<%= require('./img/main-bg01.webp') %>" type="image/webp">
                        <img data-src="<%= require('./img/main-bg01.jpg') %>" src="<%= require('./img/placeholder.png') %>" class="section-bg__img" alt="main background"
                             title="">
                    </picture>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-11 offset-md-1 offset-xl-0">
                            <div class="slide-content">
                                <div class="title ml-md-3 text-white font-weight-light">
                                    <span class="title__sup-text">3-х комнатные апартаменты</span>
                                    длинное название
                                    апартаментов
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 offset-md-1 offset-xl-0">
                            <div class="slide-content">
                                <button class="slide-content__button btn btn-primary position-relative d-block rounded-pill mx-auto mt-5 text-white font-weight-bold shadow-none mt-md-5 ml-md-3"
                                        data-toggle="modal" data-target="#modal_reserve">
                                    Забронировать
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-section-content">
                <nav class="main-section-content-nav d-flex flex-row flex-xl-column">
                    <span class="main-section-content-nav__link main-section-content-nav__link active border-primary rounded-pill ml-lg-auto text-white font-weight-bold" data-number="1">
                        <span class="main-section-content-nav__text">Апартаменты <svg><use xlink:href="img/spritemap.svg#sprite-arrow_right"></use></svg></span>
                    </span>

                    <a href="apart-page.html" class="main-section-content-nav__link border-primary rounded-pill ml-lg-auto text-white font-weight-bold" data-number="2">
                        <span class="main-section-content-nav__text">Апартаменты 2<svg><use xlink:href="img/spritemap.svg#sprite-arrow_right"></use></svg></span>
                    </a>

                    <a href="apart-page.html" class="main-section-content-nav__link border-primary rounded-pill ml-lg-auto text-white font-weight-bold" data-number="3">
                        <span class="main-section-content-nav__text">Апартаменты lorem ipsum<svg><use xlink:href="img/spritemap.svg#sprite-arrow_right"></use></svg></span>
                    </a>

                    <a href="apart-page.html" class="main-section-content-nav__link border-primary rounded-pill ml-lg-auto text-white font-weight-bold" data-number="4">
                        <span class="main-section-content-nav__text">Апартаменты 2 lorem ipsum<svg><use xlink:href="img/spritemap.svg#sprite-arrow_right"></use></svg></span>
                    </a>
                </nav>
            </div>
        </div>

        <div class="section apart-advantage-section">
            <div class="container mb-5">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb py-3 px-0 m-0 bg-transparent">
                        <li class="breadcrumb-item"><a href="#">Главная страница</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Апартаменты 1</li>
                    </ol>
                </nav>
            </div>

            <div class="container">
                <div class="swiper-container mobile-slider row pb-5 p-md-0">
                    <div class="advantage swiper-wrapper flex-md-wrap pt-4">
                        <div class="advantage__box swiper-slide col-auto col-sm-4 col-md-3">
                            <div class="advantage__ico d-inline-block position-relative">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-wifi"></use>
                                </svg>
                            </div>
                            <p class="advantage__caption mt-2 mb-3 my-md-3 font-weight-bold">Wi-Fi</p>
                            <p class="advantage__text">Отличный интернет</p>
                        </div>

                        <div class="advantage__box swiper-slide col-auto col-sm-4 col-md-3">
                            <div class="advantage__ico d-inline-block position-relative">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-cook"></use>
                                </svg>
                            </div>
                            <p class="advantage__caption mt-2 mb-3 my-md-3 font-weight-bold">Удобства</p>
                            <p class="advantage__text">В каждой квартире есть своя кухня</p>
                        </div>

                        <div class="advantage__box swiper-slide col-auto col-sm-4 col-md-3">
                            <div class="advantage__ico d-inline-block position-relative">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-shower"></use>
                                </svg>
                            </div>
                            <p class="advantage__caption mt-2 mb-3 my-md-3 font-weight-bold">Душ</p>
                            <p class="advantage__text">Современная ванная комната</p>
                        </div>

                        <div class="advantage__box swiper-slide col-auto col-sm-4 col-md-3">
                            <div class="advantage__ico d-inline-block position-relative">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-key"></use>
                                </svg>
                            </div>
                            <p class="advantage__caption mt-2 mb-3 my-md-3 font-weight-bold">Под ключ</p>
                            <p class="advantage__text">Какой-то неизвестный текст</p>
                        </div>

                        <div class="advantage__box swiper-slide col-auto col-sm-4 col-md-3">
                            <div class="advantage__ico d-inline-block position-relative">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-tv"></use>
                                </svg>
                            </div>
                            <p class="advantage__caption mt-2 mb-3 my-md-3 font-weight-bold">Преимущества</p>
                            <p class="advantage__text">Телевизор в каждом номере</p>
                        </div>

                        <div class="advantage__box swiper-slide col-auto col-sm-4 col-md-3">
                            <div class="advantage__ico d-inline-block position-relative">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-wave"></use>
                                </svg>
                            </div>
                            <p class="advantage__caption mt-2 mb-3 my-md-3 font-weight-bold">Вид из окна</p>
                            <p class="advantage__text">Большие балконы террасы с видом на море</p>
                        </div>

                        <div class="advantage__box swiper-slide col-auto col-sm-4 col-md-3">
                            <div class="advantage__ico d-inline-block position-relative">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-rooms"></use>
                                </svg>
                            </div>
                            <p class="advantage__caption mt-2 mb-3 my-md-3 font-weight-bold">Номер</p>
                            <p class="advantage__text">3-х комнатный <br>номер</p>
                        </div>
                    </div>

                    <div class="swiper-controls mt-4 mx-auto text-center">
                        <div class="swiper-arrows swiper-button-prev h-auto">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-arrow_left"></use>
                            </svg>
                        </div>
                        <div class="swiper-pagination mx-4"></div>
                        <div class="swiper-arrows swiper-button-next h-auto">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-arrow_right"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section tour3d-section">
            <div class="container">
                <p class="title">
                    <span class="title__sup-text">полный</span>
                    3D тур по номеру
                </p>

                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="tour3d-content row position-relative pt-5 mt-5">
                            <div class="col-12 pt-md-2">
                                <picture class="tour3d-content__view">
                                    <source srcset="<%= require('./img/3d-tour-img01.webp') %>" type="image/webp">
                                    <img data-src="<%= require('./img/3d-tour-img01.jpg') %>" src="<%= require('./img/placeholder.png') %>" class="tour3d-content__view"
                                         alt="3d tour"
                                         title="">
                                </picture>

                                <div class="scroll-ico">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-scroll"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <div class="tour3d-description d-flex flex-wrap bg-white">
                            <div class="tour3d-description__text-wrap mb-4 m-md-0">
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <p class="tour3d-description__text m-0 font-weight-light">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                            aliquet.
                                            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
                                            vulputate cursus a sit amet mauris. <br>
                                            Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
                                            This is Photoshop's version of Lorem</p>
                                    </div>

                                    <div class="col-md-6">
                                        <p class="tour3d-description__text m-0 font-weight-light">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor
                                            aliquet.
                                            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
                                            vulputate cursus a sit amet mauris.<br>
                                            Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.
                                            This is Photoshop's version of Lorem</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 pt-0">
                                <div class="season-prices row border-top justify-content-center">
                                    <div class="season-prices__box col-md d-flex flex-row p-0 flex-md-column">
                                        <p class="season-prices__date">
                                            <span class="season-prices__date-ico"><svg>
                                                <use xlink:href="img/spritemap.svg#sprite-calendar"></use>
                                            </svg></span>
                                            с 1 по 31 мая
                                        </p>
                                        <p class="season-prices__price text-secondary font-weight-medium">700 грн/сутки</p>
                                    </div>

                                    <div class="season-prices__box col-md d-flex flex-row p-0 flex-md-column">
                                        <p class="season-prices__date">
                                            <span class="season-prices__date-ico"><svg>
                                                <use xlink:href="img/spritemap.svg#sprite-calendar"></use>
                                            </svg></span>
                                            с 1 по 30 июня
                                        </p>
                                        <p class="season-prices__price text-secondary font-weight-medium">900 грн/сутки</p>
                                    </div>

                                    <div class="season-prices__box col-md d-flex flex-row p-0 flex-md-column">
                                        <p class="season-prices__date">
                                            <span class="season-prices__date-ico"><svg>
                                                <use xlink:href="img/spritemap.svg#sprite-calendar"></use>
                                            </svg></span>
                                            с 1 по 31 июля
                                        </p>
                                        <p class="season-prices__price text-secondary font-weight-medium">1000 грн/сутки</p>
                                    </div>

                                    <div class="season-prices__box col-md d-flex flex-row p-0 flex-md-column">
                                        <p class="season-prices__date">
                                            <span class="season-prices__date-ico"><svg>
                                                <use xlink:href="img/spritemap.svg#sprite-calendar"></use>
                                            </svg></span>
                                            с 1 по 31 августа
                                        </p>
                                        <p class="season-prices__price text-secondary font-weight-medium">1000 грн/сутки</p>
                                    </div>

                                    <div class="season-prices__box col-md d-flex flex-row p-0 flex-md-column">
                                        <p class="season-prices__date">
                                            <span class="season-prices__date-ico"><svg>
                                                <use xlink:href="img/spritemap.svg#sprite-calendar"></use>
                                            </svg></span>
                                            с 1 по 30 сентября
                                        </p>
                                        <p class="season-prices__price text-secondary font-weight-medium">700 грн/сутки</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section simple-reserved-section bg-secondary">
            <div class="container">
                <p class="title text-white">
                    <span class="title__sup-text">простое</span>
                    бронирование
                </p>

                <div class="row justify-content-center mb-5">
                    <div class="col-md-8 col-lg-10 col-xl-8">
                        <div class="calendar-reserved row">
                            <div class="col-md-6 mb-5 mb-md-0">
                                <div class="calendar-reserved__box">
                                    <p class="calendar-reserved__label">Укажите дату заезда</p>

                                    <div id="reserved_date_in" class="calendar-reserved__calendar datepicker-range bg-white"></div>

                                    <input type="hidden" name="" class="result-val" value="">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="calendar-reserved__box">
                                    <p class="calendar-reserved__label">Укажите дату выезда</p>

                                    <div id="reserved_date_out" class="calendar-reserved__calendar datepicker-range bg-white"></div>

                                    <input type="hidden" name="" class="result-val" value="">
                                </div>
                            </div>

                            <div class="col-12 pt-1 mt-1 mt-md-3">
                                <span class="calendar-reserved__text"><span class="indicator indicator_disabled"></span> эти даты уже заняты</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="reserve__form pt-1 pt-md-3 pt-lg-2 pt-xl-3">
                    <div class="reserve-form-content row justify-content-center pb-3">
                        <div class="col-md-4">
                            <div class="form-group position-relative">
                                <label for="apart_reserve_name">Ваше имя*</label>
                                <input type="text" id="apart_reserve_name" class="form-control-lg py-2 px-4 rounded-0" required autocomplete="off">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group position-relative">
                                <label for="apart_reserve_phone">Ваш телефон*</label>
                                <input type="text" id="apart_reserve_phone" class="form-control-lg py-2 px-4 rounded-0 phone-mask"
                                       pattern="\+\d{1,3}\s[\(]{0,1}[0-9]{3}[\)]{0,1}\s\d{2}\s\d{2}\s\d{3}" required autocomplete="off">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group position-relative">
                                <label for="apart_reserve_mail">Ваша почта*</label>
                                <input type="text" id="apart_reserve_mail" class="form-control-lg py-2 px-4 rounded-0" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required
                                       autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <button type="submit" id="disDates" class="reserve__submit btn btn-lg btn-primary d-block mt-3 mt-md-3 mt-xl-2 mx-auto font-weight-bold rounded-pill text-white">Забронировать
                    </button>
                </div>
            </div>
        </div>

        <div class="section photo-room-section">
            <div class="container">
                <p class="title">
                    <span class="title__sup-text">больше</span>
                    фотографий номера
                </p>

                <div class="row">
                    <div class="photo-room swiper-container mobile-slider">
                        <div class="swiper-wrapper lightgallery flex-md-wrap">
                            <a href="<%= require('./img/apartment-img02.jpg') %>" class="photo-room__box swiper-slide col-md-3">
                                <img src="<%= require('./img/placeholder.png') %>" class="photo-room__img" alt="photo room" title="" data-src="<%= require('./img/apartment-img02.jpg') %>">
                            </a>
                            <a href="<%= require('./img/apartment-img03.jpg') %>" class="photo-room__box swiper-slide col-md-6">
                                <img src="<%= require('./img/placeholder.png') %>" class="photo-room__img" alt="photo room" title="" data-src="<%= require('./img/apartment-img03.jpg') %>">
                            </a>
                            <a href="<%= require('./img/apartment-img04.jpg') %>" class="photo-room__box swiper-slide col-md-3">
                                <img src="<%= require('./img/placeholder.png') %>" class="photo-room__img" alt="photo room" title="" data-src="<%= require('./img/apartment-img04.jpg') %>">
                            </a>

                            <a href="<%= require('./img/apartment-img01.jpg') %>" class="photo-room__box swiper-slide col-md-6">
                                <img src="<%= require('./img/placeholder.png') %>" class="photo-room__img" alt="photo room" title="" data-src="<%= require('./img/apartment-img01.jpg') %>">
                            </a>
                            <a href="<%= require('./img/apartment-img02.jpg') %>" class="photo-room__box swiper-slide col-md-3">
                                <img src="<%= require('./img/placeholder.png') %>" class="photo-room__img" alt="photo room" title="" data-src="<%= require('./img/apartment-img02.jpg') %>">
                            </a>
                            <a href="<%= require('./img/apartment-img04.jpg') %>" class="photo-room__box swiper-slide col-md-3">
                                <img src="<%= require('./img/placeholder.png') %>" class="photo-room__img" alt="photo room" title="" data-src="<%= require('./img/apartment-img04.jpg') %>">
                            </a>
                        </div>

                        <div class="swiper-arrows swiper-button-prev d-md-none">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-arrow_left"></use>
                            </svg>
                        </div>
                        <div class="swiper-arrows swiper-button-next d-md-none">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-arrow_right"></use>
                            </svg>
                        </div>
                    </div>

                    <div class="col-12 pt-md-4">
                        <button type="button" class="btn btn-primary btn-custom d-block mt-2 mt-md-4 mt-xl-5 mx-auto rounded-pill text-white shadow-none" data-toggle="modal" data-target="#modal_reserve">Забронировать</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="section reviews-section">
            <div class="container">
                <p class="title">
                    <span class="title__sup-text">последние</span>
                    отзывы о нас
                </p>

                <div class="row justify-content-center">
                    <div class="reviews col-md-10">
                        <div class="reviews__item media flex-column">
                            <div class="reviews__item-head media-head mb-3">
                                <h5 class="reviews__title">Александр</h5>

                                <div class="reviews__info pr-1">
                                    <div class="reviews-rating">
                                        <input type="number" class="rating-input rating-read" value="5">
                                    </div>

                                    <span class="reviews__info-date pl-3">10.01.2019</span>

                                    <nav class="reviews__social d-inline-block">
                                        <a href="#1" class="reviews__soc-link">
                                            <svg>
                                                <use xlink:href="img/spritemap.svg#sprite-bookingcom"></use>
                                            </svg>
                                        </a>
                                    </nav>

                                    <a href="#fb" class="reviews__info-link d-block mt-1 font-weight-medium m-md-n1 float-md-right"><u>ссылка на fb наверное длинная</u></a>
                                </div>
                            </div>

                            <div class="reviews__item-body media-body">
                                <p class="reviews__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                                    quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. C</p>

                                <a href="#0" class="reviews__answer">Ответить</a>
                            </div>
                        </div>

                        <div class="reviews__item media flex-column">
                            <div class="reviews__item-head media-head mb-3">
                                <h5 class="reviews__title">Александр</h5>

                                <div class="reviews__info pr-1">
                                    <div class="reviews-rating">
                                        <input type="number" name="input-name" class="rating-input rating-read" value="4">
                                    </div>

                                    <span class="reviews__info-date pl-3">10.01.2019</span>

                                    <a href="#fb" class="reviews__info-link d-block mt-1 font-weight-medium m-md-n1 float-md-right"><u>ссылка на fb наверное длинная</u></a>
                                </div>
                            </div>

                            <div class="reviews__item-body media-body">
                                <p class="reviews__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                                    quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                                    Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class
                                    aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus
                                    condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam</p>

                                <a href="#0" class="reviews__answer">Ответить</a>

                                <div class="reviews__item media flex-column">
                                    <div class="reviews__item-head media-head mb-3">
                                        <h5 class="reviews__title">Администратор</h5>

                                        <div class="reviews__info">
                                            <span class="reviews__info-date">10.01.2019</span>
                                        </div>
                                    </div>

                                    <div class="reviews__item-body media-body">
                                        <p class="reviews__text pb-1">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean
                                            sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
                                            vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris
                                            vitae erat consequat</p>

                                        <a href="#0" class="reviews__answer">Ответить</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="reviews__item media flex-column">
                            <div class="reviews__item-head media-head mb-3">
                                <h5 class="reviews__title">Александр</h5>

                                <div class="reviews__info pr-1">
                                    <div class="reviews-rating">
                                        <input type="number" name="input-name" class="rating-input rating-read" value="3">
                                    </div>

                                    <span class="reviews__info-date pl-3">10.01.2019</span>

                                    <nav class="reviews__social d-inline-block">
                                        <a href="#1" class="reviews__soc-link">
                                            <svg>
                                                <use xlink:href="img/spritemap.svg#sprite-bookingcom"></use>
                                            </svg>
                                        </a>
                                    </nav>

                                    <a href="#fb" class="reviews__info-link d-block mt-1 font-weight-medium m-md-n1 float-md-right"><u>ссылка на fb наверное длинная</u></a>
                                </div>
                            </div>

                            <div class="reviews__item-body media-body">
                                <p class="reviews__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                                    quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                                    Morbi</p>

                                <a href="#0" class="reviews__answer">Ответить</a>
                            </div>
                        </div>

                        <div class="reviews__item media flex-column">
                            <div class="reviews__item-head media-head mb-3">
                                <h5 class="reviews__title">Александр</h5>

                                <div class="reviews__info pr-1">
                                    <div class="reviews-rating">
                                        <input type="number" name="input-name" class="rating-input rating-read" value="5">
                                    </div>

                                    <span class="reviews__info-date pl-3">10.01.2019</span>

                                    <nav class="reviews__social d-inline-block">
                                        <a href="#1" class="reviews__soc-link">
                                            <svg>
                                                <use xlink:href="img/spritemap.svg#sprite-bookingcom"></use>
                                            </svg>
                                        </a>
                                    </nav>

                                    <a href="#fb" class="reviews__info-link d-block mt-1 font-weight-medium m-md-n1 float-md-right"><u>ссылка на fb наверное длинная</u></a>
                                </div>
                            </div>

                            <div class="reviews__item-body media-body">
                                <p class="reviews__text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                                    bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi
                                    accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. C</p>

                                <a href="#0" class="reviews__answer">Ответить</a>
                            </div>
                        </div>

                        <button class="reviews__button btn btn-primary d-block border-0 rounded-pill mt-5 mx-auto font-weight-bold text-white" data-toggle="modal"
                                data-target="#modal_review">Оставить отзыв
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="section pages-nav-section">
            <div class="container">
                <div class="pages-nav row justify-content-center">
                    <a href="#0" class="pages-nav__link d-inline-flex align-items-center pl-2 font-weight-bold bg-white pl-lg-4">
                        <svg class="mr-3 m-md-0">
                            <use xlink:href="img/spritemap.svg#sprite-arrow_left"></use>
                        </svg>
                        <span class="pages-nav__number rounded-circle mr-3 ml-4 font-weight-bold text-white bg-primary">1</span>
                        Предыдущие апартаменты
                    </a>
                    <a href="#0" class="pages-nav__link d-inline-flex align-items-center pr-2 font-weight-bold text-lg-right bg-white">
                        Следующие апартаменты
                        <span class="pages-nav__number rounded-circle mr-4 ml-3 font-weight-bold text-white bg-primary">3</span>
                        <svg>
                            <use xlink:href="img/spritemap.svg#sprite-arrow_right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>

    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div id="map"></div>
            </div>
        </div>

        <div class="footer-content bg-secondary pt-md-3 pb-md-1">
            <div class="container pt-4 pb-5 py-md-1">
                <div class="row mb-3">
                    <div class="col-12 col-md-3 col-lg-2 text-center text-md-left">
                        <a href="index.html" class="logo my-2 mt-md-0">
                            <picture>
                                <img src="img/logo.svg" class="logo__img" alt="logo" title="logo">
                            </picture>
                        </a>

                        <nav class="social-list d-flex align-items-center justify-content-center justify-content-md-start">
                            <a href="#social-booking" class="social-list__link" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-booking"></use>
                                </svg>
                            </a>
                            <a href="#social-instagram" class="social-list__link mx-1" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-instagram"></use>
                                </svg>
                            </a>
                            <a href="#social-tripadvisor" class="social-list__link mx-1" target="_blank">
                                <svg class="tripadvisor">
                                    <use xlink:href="img/spritemap.svg#sprite-tripadvisor"></use>
                                </svg>
                            </a>
                        </nav>
                    </div>

                    <div class="col-12 col-md-3 col-lg-2 offset-lg-2">
                        <ul class="footer-content__list pt-5 px-0 pt-md-3 pl-md-3 m-0 text-center text-md-left">
                            <li class="footer-content__list-item"><a href="#0" class="footer-content__li-text">Апартаменты 1</a></li>
                            <li class="footer-content__list-item"><a href="#0" class="footer-content__li-text">Апартаменты 2</a></li>
                            <li class="footer-content__list-item"><a href="#0" class="footer-content__li-text">Апартаменты 3</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-3 col-lg-2">
                        <ul class="footer-content__list pt-2 px-0 mt-1 mb-0 pt-md-3 pl-md-3 m-md-0 text-center text-md-left">
                            <li class="footer-content__list-item"><a href="#0" class="footer-content__li-text">Апартаменты 4</a></li>
                            <li class="footer-content__list-item"><a href="contacts.html" class="footer-content__li-text">Как к нам добраться</a></li>
                        </ul>
                    </div>

                    <div class="col-12 col-md-3 col-lg-4 d-flex justify-content-md-end">
                        <ul class="footer-content__list pt-2 px-0 mt-1 mx-auto mb-0 text-center pt-md-3 m-md-0 ml-md-auto text-md-left">
                            <li class="footer-content__list-item"><span class="footer-content__li-text">г. Железный порт, ул. Набережная, 1</span></li>
                            <li class="footer-content__list-item"><a href="tel:+380500000000" class="footer-content__li-text">+38 (050) 000 00 00</a><a href="tel:+380500000000"
                                                                                                                                                        class="footer-content__li-text">+38
                                (050) 000 00 00</a></li>
                            <li class="footer-content__list-item"><a href="mailto:apartments@gmail.com" class="footer-content__li-text">apartments@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright bg-white py-md-2">
            <div class="container py-3 p-md-0 pt-md-1">
                <div class="row text-center text-md-left">
                    <div class="col-md-8 mb-2">
                        <p class="footer-copyright__text">2019. Все права защищены.</p>
                    </div>

                    <div class="col-md-4">
                        <p class="footer-copyright__text text-md-right">Разработка и продвижение сайтов
                            <a href="https://bonum-studio.com" target="_blank">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-bonum"></use>
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<!-- RESERVE MODAL -->
<div class="modal fade modal-custom" id="modal_reserve" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-reserve-content">
            <div class="modal-header">
                <h5 class="modal-title">Забронировать</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg>
                        <use xlink:href="img/spritemap.svg#sprite-close"></use>
                    </svg>
                </button>
            </div>

            <div class="reserve m-0">
                <div class="reserve__form">
                    <div class="reserve-form-content row justify-content-center">
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-group position-relative">
                                <label for="reserve_modal_name">Ваше имя*</label>
                                <input type="text" name="name" id="reserve_modal_name" class="form-control-lg py-2 px-4 border-0 rounded-0" required autocomplete="off">
                            </div>

                            <div class="form-group position-relative">
                                <label for="reserve_modal_phone">Ваш телефон*</label>
                                <input type="tel" name="phone" id="reserve_modal_phone" class="form-control-lg py-2 px-4 border-0 rounded-0 phone-mask"
                                       pattern="\+\d{1,3}\s[\(]{0,1}[0-9]{3}[\)]{0,1}\s\d{2}\s\d{2}\s\d{3}" required autocomplete="off">
                            </div>

                            <div class="form-group position-relative">
                                <label for="reserve_modal_mail">Ваша почта*</label>
                                <input type="email" name="mail" id="reserve_modal_mail" class="form-control-lg py-2 px-4 border-0 rounded-0"
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required autocomplete="off">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-group position-relative">
                                <label for="reserve_modal_apartments">Выберите апартаменты</label>

                                <select name="apartments-list" id="reserve_modal_apartments" class="form-control-lg p-0 rounded-0 styled" data-placeholder="Выберите апартаменты">
                                    <option></option>

                                    <option value="1">Апартаменты 1</option>
                                    <option value="2">Апартаменты 2</option>
                                    <option value="3">Апартаменты 3</option>
                                    <option value="4">Апартаменты 4</option>
                                </select>
                            </div>

                            <div class="calendar-reserved">
                                <div class="form-group position-relative">
                                    <label for="modal_date_in">Укажите дату заезда</label>
                                    <input type="text" name="" id="modal_date_in" class="form-control-lg py-2 px-4 pr-5 border-0 rounded-0 datepicker-range" autocomplete="off">
                                    <div class="reserve-form-content__field-ico">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-calendar"></use>
                                        </svg>
                                    </div>
                                </div>

                                <div class="form-group position-relative">
                                    <label for="modal_date_out">Укажите дату выезда</label>
                                    <input type="text" name="" id="modal_date_out" class="form-control-lg py-2 px-4 pr-5 border-0 rounded-0 datepicker-range" autocomplete="off">
                                    <div class="reserve-form-content__field-ico">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-calendar"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="reserve__submit btn btn-lg btn-primary d-block mt-3 mx-auto font-weight-bold rounded-pill text-white">Забронировать
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-custom" id="modal_reserve_answer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-answer">
            <div class="modal-header flex-column">
                <h5 class="modal-title">Заявка отправлена</h5>

                <hr>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg>
                        <use xlink:href="img/spritemap.svg#sprite-close"></use>
                    </svg>
                </button>
            </div>

            <div class="modal-body">
                <p class="font-weight-light">Спасибо, Ваша заявка отправлена. Наш менеджер свяжется с Вами в ближайшее время.</p>
            </div>
        </div>
    </div>
</div>

<!-- REVIEW MODAL -->
<div class="modal fade modal-custom" id="modal_review" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-review-content">
            <div class="modal-header pb-1 mb-4">
                <h5 class="modal-title">Оставить отзыв</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg>
                        <use xlink:href="img/spritemap.svg#sprite-close"></use>
                    </svg>
                </button>
            </div>

            <div class="reserve m-0">
                <div class="reserve__form">
                    <div class="reviews-rating d-block pb-3 mb-3 text-center">
                        <input type="number" class="rating-input" value="0">

                        <span class="reviews-rating__text d-inline-block mt-2">Выберите оценку для отеля</span>
                    </div>

                    <div class="reserve-form-content form-row justify-content-center">
                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-group position-relative">
                                <label for="review_modal_name">Ваше имя*</label>
                                <input type="text" name="name" id="review_modal_name" class="form-control-lg py-2 px-4 border-0 rounded-0" required autocomplete="off">
                            </div>
                        </div>

                        <div class="col-12 col-sm-6 col-md-6">
                            <div class="form-group position-relative">
                                <label for="review_modal_mail">Ваша почта*</label>
                                <input type="email" name="mail" id="review_modal_mail" class="form-control-lg py-2 px-4 border-0 rounded-0"
                                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required autocomplete="off">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group h-100 m-0">
                                <label for="contact_message">Ваш отзыв</label>
                                <textarea class="contacts-form__field form-control border-0 rounded-0 shadow-none" id="contact_message"></textarea>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="reserve__submit btn btn-lg btn-primary d-block mt-4 mx-auto font-weight-bold rounded-pill text-white">Забронировать
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-custom" id="modal_review_answer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-answer">
            <div class="modal-header flex-column">
                <h5 class="modal-title">Отзыв отправлен</h5>

                <hr>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg>
                        <use xlink:href="img/spritemap.svg#sprite-close"></use>
                    </svg>
                </button>
            </div>

            <div class="modal-body">
                <p class="font-weight-light">Спасибо за Ваш отзыв, он будет опубликован на сайте после стандартной проверки.</p>
            </div>
        </div>
    </div>
</div>

<div class="icon-load"></div>
<!-- BODY END   -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</body>
</html>